@charset "UTF-8";
header {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 0rem; }
  header .nav-link, header .navbar-brand {
    color: black;
    font-family: 'Raleway', sans-serif; }

.main-index .imagen {
  background-image: url("/img/front.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh; }

.main-index .tittle {
  color: white;
  padding-top: 7.80rem;
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.125rem; }

.main-index .boxes-2 {
  display: flex;
  flex-direction: row;
  font-family: 'Merriweather', sans-serif;
  margin: 1rem 2.188rem 5rem; }
  .main-index .boxes-2 .box1 {
    background-color: #fff;
    color: #F2C49B;
    font-size: 5rem;
    width: 15%;
    height: 60%;
    padding-top: 1.90rem;
    padding-left: 2.188rem;
    padding-right: 0.10rem;
    text-align: center;
    margin: 1rem 0rem; }
    .main-index .boxes-2 .box1 .second-box {
      color: #BF8969;
      font-weight: 700;
      font-size: 1.25rem; }
  .main-index .boxes-2 .box2 {
    background-color: #fff;
    color: black;
    text-align: start;
    font-size: 1.375rem;
    padding: 4.688rem 0rem 0rem;
    width: 25%;
    height: 60%; }
    .main-index .boxes-2 .box2 .second-box {
      color: #BF8969;
      font-weight: 700;
      font-size: 1.25rem; }

.main-index .med-photo {
  background-image: url("/img/río.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh; }
  .main-index .med-photo .med-text {
    font-family: 'Merriweather', sans-serif;
    font-size: 4.375rem;
    font-weight: 900;
    letter-spacing: 0.125rem;
    color: #fff;
    padding: 11rem 1rem 1rem;
    text-align: center; }

.main-index .boxes-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0rem; }
  .main-index .boxes-texts .box1-tex {
    font-family: 'Raleway', sans-serif;
    color: #000;
    width: 15%;
    height: 60%;
    padding: 2rem 0.80rem; }
  .main-index .boxes-texts .box2-tex {
    font-family: 'Raleway', sans-serif;
    color: #000;
    width: 15%;
    height: 60%;
    padding: 2rem 0.80rem; }
  .main-index .boxes-texts .box3-tex {
    font-family: 'Raleway', sans-serif;
    color: #000;
    width: 15%;
    height: 60%;
    padding: 2rem 0.80rem; }

.main-aves .clas-birds {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.main-aves .card .card-text {
  color: grey; }

.main-aves .card .btn-primary {
  color: #fff;
  background-color: #9CBF4E;
  border-color: #9CBF4E; }

footer {
  background-color: black;
  padding: 8rem 0rem 1rem;
  margin: 1rem 0rem 0rem;
  font-family: 'Raleway', sans-serif; }
  footer .description {
    color: gainsboro;
    text-align: center; }

body {
  background-color: #fff;
  margin: 0rem;
  padding: 0rem; }
